Codigo fuente/Node-Red-HMI.json
[{"id":"e0d8c0e.a97434","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"aa752700.a27e88","type":"ui_button","z":"e0d8c0e.a97434","name":"","group":"186af4be.99dccb","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"file.png","payload":"Hola ingenieros","payloadType":"str","topic":"","x":100,"y":140,"wires":[["9607406f.4d8d6","56e73ac7.87e1d4","db687640.0fa058","f791e07d.20293"]]},{"id":"56e73ac7.87e1d4","type":"ui_text","z":"e0d8c0e.a97434","group":"186af4be.99dccb","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":100,"wires":[]},{"id":"f791e07d.20293","type":"ui_toast","z":"e0d8c0e.a97434","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":290,"y":260,"wires":[]},{"id":"9607406f.4d8d6","type":"ui_audio","z":"e0d8c0e.a97434","name":"","group":"186af4be.99dccb","voice":"en-US","always":"","x":270,"y":60,"wires":[]},{"id":"db687640.0fa058","type":"debug","z":"e0d8c0e.a97434","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":180,"wires":[]},{"id":"82282d42.11a0a","type":"ui_slider","z":"e0d8c0e.a97434","name":"","label":"slider","tooltip":"","group":"dab4db8.419d328","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"200","step":1,"x":100,"y":340,"wires":[["7753df07.3bbdc","fabbe1e.a516a2"]]},{"id":"7753df07.3bbdc","type":"ui_chart","z":"e0d8c0e.a97434","name":"","group":"dab4db8.419d328","order":1,"width":0,"height":0,"label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":280,"y":340,"wires":[[]]},{"id":"fabbe1e.a516a2","type":"ui_gauge","z":"e0d8c0e.a97434","name":"","group":"dab4db8.419d328","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"75","seg2":"150","x":300,"y":400,"wires":[]},{"id":"43ec9a76.e5a184","type":"ui_chart","z":"e0d8c0e.a97434","name":"","group":"12138974.7a54d7","order":3,"width":0,"height":0,"label":"chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":270,"y":500,"wires":[[]]},{"id":"feec997c.913a78","type":"ui_slider","z":"e0d8c0e.a97434","name":"","label":"slider","tooltip":"","group":"12138974.7a54d7","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"400","step":1,"x":100,"y":560,"wires":[["43ec9a76.e5a184","58c80be3.f85bd4"]]},{"id":"58c80be3.f85bd4","type":"ui_colour_picker","z":"e0d8c0e.a97434","name":"","label":"","group":"12138974.7a54d7","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":5,"width":0,"height":0,"passthru":true,"topic":"","x":280,"y":580,"wires":[[]]},{"id":"186af4be.99dccb","type":"ui_group","z":"","name":"Boton","tab":"fbbe9cc8.f32b6","order":2,"disp":true,"width":"6","collapse":false},{"id":"dab4db8.419d328","type":"ui_group","z":"","name":"Graficos","tab":"fbbe9cc8.f32b6","order":3,"disp":true,"width":"6","collapse":false},{"id":"12138974.7a54d7","type":"ui_group","z":"","name":"Graficos 2","tab":"fbbe9cc8.f32b6","order":1,"disp":true,"width":"6","collapse":false},{"id":"fbbe9cc8.f32b6","type":"ui_tab","z":"","name":"Tutorial","icon":"dashboard","disabled":false,"hidden":false}]